html, body {
  height:100%;
} 


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#wide-banner-text{
  margin-top: 6rem;
}

#wide-banner-text h1{
  font-size: 60px !important;
}

#wide-banner-text h2{
  font-size: 65px !important;
}

#banner-color-text{
  color: #ff5722;
}

.text-area-85{
  width: 80%;
  margin: auto;
  text-align: center;
}

#about-section{
  margin-top: 7rem;
}

#side-image{
 width: 400px;
 margin: auto;
}

#side-image img{
  padding: 30px;
  height: 520px;
}

.in-text-url{
  color: #ff5722;
  text-decoration: none;
}

.in-text-url:hover{
  color: #ff5722;
}

.social-icon-list{
  text-align: center;
  list-style: none;
  margin: 0px !important;
  padding: 0px !important;
  overflow: hidden;
}

.social-icon-list li{
  display: inline-block;
  padding-right: 10px;
}

.about-me-text{
  width: 75%;
}

.social-icon-block{
  width: 100%;
}

.footer{
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 699px) {
  .about-me-text {
     width: 100%;
     overflow: hidden;
  }

  .side-img-block{
    display: none;
  }
  .about-me-text-block{
    width: 100% !important;
    padding: 35px !important;
    text-align: justify;
  }
  .social-icon-block{
    width: 85% !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 850px) {
  .about-me-text {
     width: 100%;
     margin: auto;
  }

  .side-img-block{
    display: none;
  }

  #side-image{
    width: 200px;
    margin: auto;
   }
  #side-image img{
    padding: 30px;
    height: 320px;
  }
  .about-me-text-block{
    width: 100% !important;
    padding: 35px !important;
    text-align: justify;
  }

  .about-me-text{
    margin-top: 0px !important;
  }

  .row-container{
    margin-top: 0px !important;
  }
  .social-icon-block{
    width: 85% !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 10240px) {
 .about-me-text{
   padding-left: 40px;
   width: 80%;
 }
}